.breadth {
  max-width: 24rem;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  /*float: left;*/
  height: 70%;
  width: 70%;
  background-color: grey;
  margin: 4rem 1rem 4rem 5rem;
}

#restaurant-row {
  margin: 2rem 0 0rem 0rem;
  position: relative;
}

.site-background {
  background-image: url(../images/dan-gold-E6HjQaB7UEA-unsplash.jpg);
  width: 100%;
  background-repeat:no-repeat;
  background-size:100%;
}
#street-view {
  height: 780px;
  width: 480px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#radius {
  /* margin-top: 2.5rem; */
  max-width: 100%;
}

#close-button:hover {
  background: red;
}

